<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section class="">
		<div class="container">
			<div class="card mt-5">
				<div class="card-header bg-secondary text-white text-center">
					<h3>Change Password</h3>
				</div>
				<div th:if="${session.message}"
					th:classappend="${session.message.getType}"
					class="alert text-center" role="alert">
					<p th:text="${session.message.getContent}"></p>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="card-body">
					<form th:action="@{/processchangepwd}" method="post">
						<div class="form-group">
							<input type="password" id="newPassword" name="newPassword"
								class="form-control" placeholder="Enter new password" required />
						</div>
						<div class="form-group">
							<input type="password" onkeyup="validate()" id="cnfNewPassword"
								name="cnfNewPassword" class="form-control"
								placeholder="Confirm new password" required />
							<div class="invalid-feedback">new password does not match
								with confirm password !</div>
						</div>
						<button type="submit" class="btn btn-success">Update</button>
					</form>
				</div>
			</div>
		</div>
		<script>
	const validate =()=>{
		let newPwd = $("#newPassword").val();
		 let cnfNewPwd= $("#cnfNewPassword").val();
		 if(newPwd==cnfNewPwd){
			$("#updatebtn").removeAttr("disabled");
			$("#cnfNewPassword").removeClass("is-invalid");
		 }
		 else{
			$("#cnfNewPassword").addClass("is-invalid");
		 }
	}
		
	
	</script>
	</section>
</body>
</html>