<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section class="">
		<div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
            
                <div id="login-column" class="col-md-6">
                    <div style="height:270px;" id="login-box" class="col-md-12">
                    <div class="container text-center mt-3">
                    <h3>Forget Password</h3>
                    <div th:if="${session.message}"
					th:classappend="${session.message.getType}"
					class="alert text-center" role="alert">
					<p th:text="${session.message.getContent}"></p>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
                    </div>
                    <div class="container mt-4">
                       <form action="/otppage" method="post">
                       
                       <div class="form-group">
                       <input type="email" name="email" class="form-control" placeholder="Enter registered email id." required/>
                       </div>
                       <div class="container text-center">
                       <button class="btn btn-warning" type="submit" data-toggle="modal" data-target="#otpModal">Send OTP</button>
                       </div>
                       
                       </form>
                       
                       
                       </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
	</section>
</body>
</html>