<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center text-white ">
	<div class="text-center">
	<h1 class="display-3">Smart Contact Manager</h1>
	<p class="font-weight-bold mt-3">Start collecting your contacts in very smarter way , we provide very efficient and smarter way of handling contacts.</p>
	<button class="btn bg-primary btn-lg text-white" >Get Started</button>
	</div>
	</section>
</body>
</html>